{% extends "layout.html" %}
{% block content %}
<h3 class='text-center'>Dispatch</h3>
<br>
    <div class="card-deck">
        <div class='card-group'>
            <div class="card ">
                <div class='card-header'>
                    # Patients, # Responders
                </div>
            </div>
        </div>
    </div>

    <form class='form-inline' method="post">
        <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="pcleared">
            <label class="form-check-label">Patient Cleared</label>
        </div> -->

    </form>
    <br>
<h3 class='text-center'>Weather Information:</h3>
    <h5>Temperature: ~temp~</h5>
    <h5>Inclement weather: yes/no</h5>
{% endblock %}
