{% extends "layout.html" %}
{% block content %}
<h3 class='text-center'>Dispatch</h3>
<br>
<div class="card-deck">
    <div class='card-group'>
        <div class="card ">
            <div class='card-header'>
                <b>Apollo Theater</b> 
            </div>
            <div class='card-body'>
                <h5 class='card-title'><b>Patients</b>: 6</h5>
                <p class="card-text"><b>Responders</b>: 3</p>
                <img src="/static/resp.JPG" width="290px">
            </div>
            <div class='card-footer'>
                <b>Weather Information:</b>
                <p>
                    Temperature: 78F<br>
                    Inclement weather: Yes
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
