{% extends "layout.html" %}
{% block content %}
    <h2>MCI Listing</h2>
<br>
    <div class="card-deck">
        <div class='card-group'>
            {% for mci in mcis %}
            <div class="card ">
                <div class='card-header'>
                    {{ mci.datetime }} // {{ mci.location }}
                </div>
                <div class="card-body">
                    <h5 class='card-title'>Patients: x // Responders: y</h5>
                    Select a role:
                    <button type="submit" class="btn btn-primary mb-2" name="ic" value="{{ mci.id }}">Incident Commander</button>
                    <button type="submit" class="btn btn-primary mb-2" name="triage" value="{{ mci.id }}">Triage</button>
                    <button type="submit" class="btn btn-primary mb-2" name="responders" value="{{ mci.id }}">First Responder</button>
                    <button type="submit" class="btn btn-primary mb-2" name="dispatch" value="{{ mci.id }}">Dispatch</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <form method="post">
        <h3>By reporting an incident, you are declaring yourself Incident Commander.</h3>
        <button type="submit" class="btn btn-primary">Report New Incident</button>
    </form>
{% endblock %}
