{% extends "layout.html" %}
{% block content %}
<h3 class='text-center'>MCI Listing</h3>
<br>
    <div class="card-deck">
        <div class='card-group'>
            {% for mci in mcis %}
            <div class="card ">
                <div class='card-header'>
                    {{ mci.datetime.strftime('%Y-%m-%d %H:%M') }} // {{ mci.location }}
                </div>
                <form method="post">
                <div class="card-body">
                    <h5 class='card-title'><b>Patients</b>: 6</h5>
                    <h5 class='card-title'><b>Responders</b>: 3</h5>

                    <label>Select a role</label><br>
                    <button type="submit" class="btn btn-primary mb-2" name="ic" value="{{ mci.id }}">Incident Commander</button>
                    <button type="submit" class="btn btn-primary mb-2" name="triage" value="{{ mci.id }}">Triage</button>
                    <button type="submit" class="btn btn-primary mb-2" name="responders" value="{{ mci.id }}">First Responder</button>
                    <button type="submit" class="btn btn-primary mb-2" name="dispatch" value="{{ mci.id }}">Dispatch</button>
                </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>

    <br>

    <form method="post" class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Report New Incident</button>
        <p>By reporting an incident, you declare yourself Incident Commander.</p>
    </form>
{% endblock %}
