{% extends "layout.html" %}
{% block content %}
    <h1>{{ pid }}</h1>
    <br>

    <form method="post">
        <div class="form-group">
            <label>Patient Location</label>
            <input type='text' class="form-control" id="ploc" name="ploc"></input>
        </div>
        <label>Triage</label><br>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-success">
                <input type="radio" name="options" value="G" id="G"> Green
            </label>
            <label class="btn btn-warning">
                <input type="radio" name="options" value="Y" id="Y"> Yellow
            </label>
            <label class="btn btn-danger">
                <input type="radio" name="options" value="R" id="R"> Red
            </label>
            <label class="btn btn-dark">
                <input type="radio" name="options" value="B" id="B"> Black
            </label>
        </div>
        <div class="form-group">
            <label>Patient Condition</label>
            <textarea class="form-control" id="pcond" rows="1" name="pcond"></textarea>
        </div>
        <div class="form-group">
            <label>Specialized Resources Required</label>
            <input type='text' class="form-control" id="pneed" name="pneed"></input>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
