{% extends "layout.html" %}
{% block content %}
    <h3 class='text-center'>Triage</h1>
    <br>
    <div class="card-deck">
        <div class='card-group'>
            {% for patient in patients %}
            <div class="card {{'text-white bg-danger' if patient.status=='R'}} {{'bg-warning' if patient.status=='Y'}} {{'bg-success' if patient.status=='G'}} {{'text-white bg-dark' if patient.status=='B'}}">
                <div class='card-header'>
                    <b>ID</b>: {{ patient.id }}
                </div>
                <div class='card-body'>
                    <h5 class='card-title'><b> Location</b>: {{ patient.location }}</h5>
                    <p class='card-text'><b>Condition</b>: {{ patient.condition }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <br>
    <div class='text-center'>
        <a href='/patientadd'><button type="button" class="btn btn-primary btn-lg">Add Patient</button></a>
    </div>

{% endblock %}
